.btn-style{
 color:rgb(228, 214, 214);
 background-color:rgb(127, 225, 127);
 padding: 4px 10px;
 margin:5px 0;
 border:none;
 transition: all 1.ms;
}
.btn-style:hover{
  background-color: rgb(43, 171, 43);
  color: aliceblue;
  transform: scale(0.8);
  cursor: pointer;
}
.single-btn{
 padding-left: .9rem;
}
 @media(max-width:400px){
   .single-btn{
     padding-left: 5.6rem;
   }
 }

 